$banniereColor : #42AB9E;
$bodyBG : #fff; //body color
$blockBackgroundColor : #fff;
$canvasColor : #000819;

$paddingGeneral : 70px;
$paddingGeneral_tab : 50px;
$paddingGeneral_mobile : 20px;

$bleuClaire : #5DA8FF;
$titleColor : #f3f3f3;
$textShadowColor : #0062a5;

$greyTitle : #2D2D2D;
