@import 'utility';

.title{
	font-family: 'Josefin Slab', sans-serif;
	text-transform: uppercase;
	color: $titleColor;
	letter-spacing: 11px;
	
}


#home{
	/* position: absolute;
	z-index: 1; */
	height: 100%;
	overflow: hidden;
	width: 100%;

	.middle{
		@extend .center_center;
		top: 26%;
		@include transform(translate(-50%, 0));
		z-index:2;

	}

	.banniere{
		@extend .center_center;
		flex-direction: column;
		justify-content:center;
		align-items: flex-end;
	

		.title{	
			font-size: 2.5em;
			line-height: 2.3em;
			text-shadow: 5px 5px $textShadowColor 
		}

		&__rubriques{
			/* align-self: flex-end; */
			display: flex;
    		justify-content: center;
		}

		.button{
			color: $titleColor;
			background-color: rgba(255, 255, 255, 0.1);
			margin:40px;

			&:hover{
				background-color: rgba(255, 255, 255, 0.2);
			}
		}
	}
}

@include tablet{
	#home{
		.banniere{
			.title{
				font-size: 3.2vw;
			}
		}
		.scroll{
			display: none;
		}
	}
}

@include tabpor{
	#home{
		.banniere{
			.title{
				font-size: 3.2vw;
			}
			&__rubriques{
				.button{
					margin: 10px 25px;
					&__wrapper{
						letter-spacing: 0.575rem;
					    padding: 17px 30px;
					    font-size: 0.84em;
					}	
				}
			}
		}
	}
}

@media screen and (max-width: 500px){
	#home{
		.banniere{
			.title{
				font-size: 6.2vw;
			}
			&__rubriques{
				flex-direction: column;
    			align-items: center;
				.button{
					margin: 25px;
					&__wrapper{
						letter-spacing: 0.675rem;
					    padding: 20px 40px;
					    font-size: 0.94em;
					}	
				}
			}
		}
	}
}